.aboutContainer{
    width: 100%;
    height: 100vh;
    background: #f4f4f4;
    /* background: linear-gradient(180deg, rgba(255,112,197,1) 40%, rgba(223,190,255,1) 80%, rgba(132,255,252,1) 100%); */
}