.projectsContainer{
    background: rgb(132,255,252);
    background: linear-gradient(0deg, rgba(132,255,252,0.5) 0%, rgba(223,190,255,0.5) 50%, rgba(255,112,197,0.5) 100%);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    overflow: hidden !important;
  }

  .myProjectsContainer{
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 90vw;
  height: 90vh;
  justify-content: space-between;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.projectsTitle{
  text-align: center;
  justify-content: center;
  font-weight: 200;
  font-size: var(--font-size-1);
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .projectsContainer{
    height: 150vh;
    /* border: 1px solid cyan; */
  }
  .myProjectsContainer{
    /* border: 1px solid blue; */
    width: 95%;
    height: 95%;
  }
}