.welcomeContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    background: rgb(255,112,197);
    background: linear-gradient(90deg, rgba(255,112,197,1) 40%, rgba(223,190,255,1) 80%, rgba(132,255,252,1) 100%);
}


.titleContainer{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #f4f4f4;
  border-radius: 10px;
  /* margin-top: 11vh; */
  width: 90vw;
  height: 90vh;
  justify-content: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


.welcomeTitle{
  line-height: 1.2;
  font-size: 3.2rem;
  font-weight: 650;
  margin: 0px;
  padding: 0px;
  background-color: rgba(255,112,197,1);
  background-image: linear-gradient(45deg, rgba(255,112,197,1), rgba(132,255,252,1));
  background-size: 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.welcomeSubtitle{
  font-size: 1.6rem;
}

.image{
  max-width: 380px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 100%;
}


.rightContainer{
  /* border: 1px solid fuchsia; */
  display: flex;
  justify-content: center; 
  align-items: center;
}

.descriptionContainer{
  display: flex;
  /* border: 1px solid cyan; */
  justify-content: space-around;
  padding: 3rem;
  width: 100%;
  height: 100%;
}

.leftContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40vw;
  padding: 0px 0px 0px 0px;
  /* border: 1px solid red; */
}

.textContainer{
  display: flex;
  flex-direction: column;
  /* border: 2px solid cyan; */
}

.textContainer2{
  display: flex;
  /* border: 2px solid green; */
}

.iconsSpan{
  font-size: 2rem;
  color: rgb(30, 30, 30);
  background-size: 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}


.downloadButton{
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  background-color: rgba(255,112,197,1);
  background-image: linear-gradient(90deg, rgba(255,112,197,1) 40%, rgba(223,190,255,1) 80%, rgba(132,255,252,1) 100%);
  color: white;
  border-radius: 7px;
  padding: 5px;
  height: 3rem;
  width: 11rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.bolder{
  font-weight: 800;
}

.bold{
  font-weight: 400;
}

.manito{
  display: inline;
  width: 1.5rem;
  padding-bottom: 5px;
}

