.welcomeContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    background: rgb(255,112,197);
    background: linear-gradient(90deg, rgba(255,112,197,1) 40%, rgba(223,190,255,1) 80%, rgba(132,255,252,1) 100%);
}

/* .welcomeContainer::before{
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 25%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.3) 75%,
    rgba(0, 0, 0, 0) 100%
  );
} */

.titleContainer{
  /* border: 1px solid green; */
  display: flex;
  margin: auto;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-top: 11vh;
  width: 90vw;
  height: 85vh;
  justify-content: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


.welcomeTitle{
  font-size: 3rem;
}

.image{
  max-width: 380px;
  border: 1px solid black;
  border-radius: 100%;
}


.rightContainer{
  border: 1px solid fuchsia;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.descriptionContainer{
  display: flex;
  border: 1px solid cyan;
  width: 100%;
  height: 65vh;
  margin: auto;
}

.leftContainer{
  border: 1px solid fuchsia;
}