.navContainer{
    display: flex;
    width: 100vw;
    height: 7vh;
    position: fixed;
    background-color: #f4f4f4;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.ul{
    display: flex;  
}