.contactBackground{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 300'%3E%3Cpath fill='%2384fffc' fill-opacity='1' d='M0,224L48,224C96,224,192,224,288,192C384,160,480,96,576,112C672,128,768,224,864,240C960,256,1056,192,1152,165.3C1248,139,1344,149,1392,154.7L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
  background-color: #f4f4f4;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1; /* Push it behind the content */
  align-items: center;
  justify-content: center;
}

.contactContainer{
    width: 100%;
    height: 100vh;
    /* background: rgb(132,255,252);
    background: linear-gradient(210deg, rgba(132,255,252,1) 0%, rgba(223,190,255,1) 50%, rgba(255,112,197,1) 100%); */
    display: flex;
    flex-direction: row;
}

.leftContainer{
    /* border: 1px solid red; */
    display: flex;
    width: 50vw;
    height: 100%;
    align-items: center; 
    justify-content: center;
}

.rightContainer{
    /* border: 1px solid blue; */
    display: flex;
    width: 50vw;
    height: 100%;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
}

.accordionContainer{
    width: 48vw;
}

